{% extends 'NarzedziaProdukcyjne/ramy.html.twig' %}
{% block content %}
{{ parent() }}
<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {{ app.request.attributes.get('_route') == 'tworzenieRaportuSuszenia' ? 'active' }}" href="{{ path('tworzenieRaportuSuszenia') }}">Tworzenie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ app.request.attributes.get('_route') == 'roleUzytkownika' ? 'active' }}" href="#">Odczyt</a>
  </li>
</ul>

<br><br>

<div class="container">
    <div class="row" >
			<div class="form-group">
        
                <h1>Tworzenie raportu suszenia</h1>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'tworzenieRaportuSuszenia' ? 'active' }}" href="{{ path('tworzenieRaportuSuszenia') }}">Dane suszenia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ app.request.attributes.get('_route') == 'dodajInfoDodatkowe' ? 'active' }}" href="{{ path('dodajInfoDodatkowe') }}">Informacje dodatkowe</a>
                    </li>
                </ul>
                <br>
                {{ form_start(dodajDaneSuszeniaForm, {'attr': {'id': 'dane_suszenia_form'}}) }}
            
                <div class="row">
					<div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.asortyment) }}
                    </div>
                    <div class="col-sm-4">
                     {{ form_row(dodajDaneSuszeniaForm.nrSuszarni) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                     {{ form_row(dodajDaneSuszeniaForm.data) }}
                     </div>
                     <div class="col-sm-4">
                      {{ form_row(dodajDaneSuszeniaForm.godzina) }}
                    </div>
                </div>
                <hr>

                 <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.predkoscBlanszownika,{'attr': {'max': '120'}}) }}
                    </div>
                     <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.temperaturaBlanszownika,{'attr': {'max': '120'}}) }}
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.predkoscSiatkiNr7) }}
                    </div>
                     <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.predkoscSiatkiNr6) }}
                    </div>
                     <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.predkoscSiatkiNr5) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.predkoscSiatkiNr4) }}
                    </div>
                     <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.predkoscSiatkiNr3) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.predkoscSiatkiNr2) }}
                    </div>
                     <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.predkoscSiatkiNr1) }}
                    </div>
                </div>
                <hr>

                 <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.temperaturaGora) }}
                    </div>
                     <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.temperaturaDol) }}
                    </div>
                </div>
                <hr>

                 <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.wilgotnosc) }}
                    </div>
                     <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.wykonawcaPomiaru) }}
                    </div>
                </div>
                <hr>


                <div class="row">
                    <div class="col-sm-4">
                        {{ form_row(dodajDaneSuszeniaForm.zapisz, {'attr': {'value': 'zapisz'}} ) }}
                    </div>
                     <div class="col-sm-2">
                        {{ form_row(dodajDaneSuszeniaForm.edytuj) }}
                    </div>
                     <div class="col-sm-2">
                         {{ form_row(dodajDaneSuszeniaForm.usun) }}
                    </div>
                </div>

                
                    {# <button  type="submit" class="btn btn-primary">Zapisz</button> #}
                    <br / ><br / >

                {{ form_end(dodajDaneSuszeniaForm) }}
            </div>
        </div>
    </div>

   <br>
   <br>
   <div id="info"></div>
   <br><br>
   <div id="raport"></div>



{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
    //Akcja do wykonania
    var zapisz = "";
    var edytuj = "";
    var usun = "";
    
        jQuery('#dodaj_dane_procesu_suszenia_form_zapisz').click(function () {
            zapisz = true;
        });

        jQuery('#dodaj_dane_procesu_suszenia_form_edytuj').click(function () {
            edytuj = true;
        });

        jQuery('#dodaj_dane_procesu_suszenia_form_usun').click(function () {
            usun = true;
        });

    $("#dodaj_dane_procesu_suszenia_form_zapisz, #dodaj_dane_procesu_suszenia_form_edytuj,#dodaj_dane_procesu_suszenia_form_usun").click(function(e) {
    e.preventDefault();

    jQuery('#info').html('<div id="loader_wraper"> <img id="loader" src="{{ asset('images/loader.gif') }}" /> </div>') 
    
    
    var serializedData = "";
    serializedData = $("#dane_suszenia_form").serialize();

   

        if (zapisz) {
           serializedData += '&dodaj_dane_procesu_suszenia_form%5Bzapisz%5D';
        }
         if (edytuj) {
           serializedData += '&dodaj_dane_procesu_suszenia_form%5Bedytuj%5D';
        }

        if (usun) {
           serializedData += '&dodaj_dane_procesu_suszenia_form%5Busun%5D';
        }


    $.ajax({
        url: "{{ path('tworzenieRaportuSuszenia')|escape('js') }}",
        type: "POST",
        data: serializedData,
        async: true,
            beforeSend:function(data)
            {
                 var formularz = $("#dane_suszenia_form").serializeArray();
                 console.log(formularz)
                     $.each(formularz, function(i, field)
                     {
                       // $("#results").append(field.name + ":" + field.value + " ");
                        if(formularz[i].value == "")
                        {
                           var dlugosc = formularz[i].name.length-1;

                          jQuery('#info').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Uwaga!!!</b>&nbsp Wypełnij puste pole: <b>'+formularz[i].name.substring(33,dlugosc)+'</b>.</div>')

                          xhr.abort();   
                        }
                    }
                    );
            },
             start: function()
            {
                $("#loader").show();
            },
            error: function (data)
            {
                 jQuery('#info').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Uwaga!!!</b>&nbsp Wymiana danych z serwerem nie powiodła się. Błąd połączenia AJAX. Zgłoś problemy z aplikacją do jej administratora. </div>') 
            },
            success: function (data)
             {
                    
                if (zapisz) 
                {   
                      if (data.info == "Zle dane")
                    {
                       jQuery('#info').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Uwaga!!!</b>&nbsp Wprowadziłeś złe dane do raportu! Maksymalne wartości temperatur i prędkości siatek to 120Hz. Maksymalna wilgotność to 20%.</div>') 
                    }

                     if (data.info == "Dane istnieja")
                    {
                       jQuery('#info').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Uwaga!!!</b>&nbsp Dane raportu z podanego dnia i godziny już istnieją.</div>') 
                    }

                    if (data.info == "Zapisano dane")
                    {
                    jQuery('#info').html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Sukces!!!</b>&nbsp Dane zostały zapisane.</div>')
                    }
                }

                 if (edytuj) 
                {    
                    if (data.info == "Zle dane")
                    {
                       jQuery('#info').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Uwaga!!!</b>&nbsp Wprowadziłeś złe dane do raportu! Maksymalne wartości temperatur i prędkości siatek to 120Hz. Maksymalna wilgotność to 20%.</div>') 
                    }

                    if (data.info == "Dane nie istnieja")
                    {
                       jQuery('#info').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Uwaga!!!</b>&nbsp Dane raportu z podanego dnia i godziny nie istnieją.</div>') 
                    } 

                    if(data.info == "Dane zostaly edytowane")
                    {
                        jQuery('#info').html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Sukces!!!</b>&nbsp Wybrane dane zostały edytowane.</div>')
                    }

                }

                 if (usun) 
                 { 
                    if (data.info == "Zle dane")
                    {
                       jQuery('#info').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Uwaga!!!</b>&nbsp Wprowadziłeś złe dane do raportu! Maksymalne wartości temperatur i prędkości siatek to 120Hz. Maksymalna wilgotność to 20%.</div>') 
                    }

                      if (data.info == "Dane usunieto")
                    {
                        jQuery('#info').html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Sukces!!!</b>&nbsp Wybrane dane zostały usunięte.</div>')
                    }

                     if (data.info == "Dane nie istnieja")
                    {
                       jQuery('#info').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button><b>Uwaga!!!</b>&nbsp Dane raportu z podanego dnia i godziny nie istnieją.</div>') 
                    }

                }

                    zapisz = "";
                    edytuj = "";
                    usun = "";

                    console.log(data.asortyment)
                    console.log(data.raport)
                     console.log(data.info)

                    var data_raportu = data.raport['0']['Data'].substring(0, 11);

                    var tabela_wynikowa ="";
                    var naglowek_tabeli= "<h2>Raport Procesu Suszenia</h2><table class='table table-hover'><thead><tr><th>Asortyment: "+data.asortyment+"</th><th>Data: "+data_raportu+"</th><th>Nr Suszarni: "+data.raport['0']['NrSuszarni']+"</th></tr></thead></table>";

                    tabela_wynikowa+=naglowek_tabeli;

                    var wielkosci = '<div id="tabela_wielkosci">Godzina<br / >Prędkość Blanszownika Hz<br / >Temp. Blanszownika &deg;C<br / ><span id="wiersz">Siatka nr 7 Hz</span><br / >Siatka nr 6 Hz<br / >Siatka nr 5 Hz<br / >Siatka nr 4 Hz<br / >Siatka nr 3 Hz<br / >Siatka nr 2 Hz<br / >Siatka nr 1 Hz<br / >Temp. Góra &deg;C<br / >Temp. Dół &deg;C<br / >Wilgotność %<br / >Wykonawca Pomiaru<br / ></div>';

                    tabela_wynikowa+=wielkosci;

                    for (var i in data.raport) 
                    {
                    tabela_wynikowa +='<div id="tabela_wynikow">'+data.raport[i].Godzina.substring(0,5)+'<br / >'+data.raport[i].PredkoscBlanszownika+' Hz<br / >'+data.raport[i].TemperaturaBlanszownika+' &deg;C<br / ><span id="wiersz">'+data.raport[i].PredkoscSiatkiNr7+' Hz</span><br / >'+data.raport[i].PredkoscSiatkiNr6+' Hz<br / >'+data.raport[i].PredkoscSiatkiNr5+' Hz<br / >'+data.raport[i].PredkoscSiatkiNr4+' Hz<br / >'+data.raport[i].PredkoscSiatkiNr3+' Hz<br / >'+data.raport[i].PredkoscSiatkiNr2+' Hz<br / >'+data.raport[i].PredkoscSiatkiNr1+' Hz<br / >'+data.raport[i].TemperaturaGora+' &deg;C<br / >'+data.raport[i].TemperaturaDol+' &deg;C<br / >'+data.raport[i].Wilgotnosc+' %<br / ><span class="osoba">'+data.raport[i].WykonawcaPomiaru+'</span></div>'
                    }

                    //Dane raportu
                    $('div#raport').html(tabela_wynikowa);
                    //document.getElementById('raport').innerHTML = tabela_wynikowa;
            },
            complete: function()
            {
                 $("#loader_wraper").hide();
                 
            }
    });
});


</script>


{% endblock %}