{% extends 'base.html.twig' %}

{% block body %}
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ path('kokpit') }}"><img src="{{ asset('images/suszarnia_logo.png') }}" width="40" height="40"/>Narzędzia Produkcyjne Online</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

        <!--Menu Kokpit -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kokpit">
          <a class="nav-link" href="{{ path('kokpit') }}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Kokpit</span>
          </a>
        </li>
        <!--Menu Kokpit -->

        <!--Menu Raporty -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Raporty">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Raporty</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="{{ path('tworzenieRaportuSuszenia') }}">Raporty Suszenia</a>
            </li>
            <li>
              <a href="#">Raporty Sterylizacji</a>
            </li>
            <li>
              <a href="#">Kontrola magnezów</a>
            </li>
          </ul>
        </li>
        <!--Menu Raporty -->

        <!--Menu Wykresy -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Wykresy">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Wykresy</span>
          </a>
        </li>
        <!--Menu Wykresy -->

        <!--Menu Kontakt -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kontakt">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-envelope-open-o"></i>
            <span class="nav-link-text">Kontakt<a</span>
          </a>
        </li>
       <!--Menu Kontakt -->

       <!--Menu Admin -->
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Admin</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="{{ path('fos_user_registration_register') }}">Użytkownicy</a>
            </li>
            <li>
              <a href="{{ path('dodajAsortymentSuszu') }}">Asortymenty</a>
            </li>
            <li>
              <a href="#">Kopia zapasowa</a>
            </li>
            <li>
              <a href="#">Konserwacja</a>
            </li>
          </ul>
        </li>
        {% endif %}
        <!--Menu Admin -->

      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>

   <!--Menu wyloguj -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
             {% if is_granted('ROLE_USER') %}
                <li><a class="list-group-item" href="{{ path('fos_user_security_logout') }}">
                <i class="fa fa-user" aria-hidden="true"></i>&nbsp{{ app.user.username }}&nbsp
                <i class="fa fa-fw fa-sign-out"></i>Wyloguj</a></li>
                {% else %}
                 <li><a class="list-group-item" href="{{ path('fos_user_security_login') }}"><i class="fa fa-fw fa-sign-in"></i>&nbsp Zaloguj</a></li>
            {% endif %}
        </li>
      </ul>
     <!--Menu wyloguj -->

    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Blank Page</li>
      </ol>
      <div class="row">
        <div class="col-12">

          {% block content %}

            {% for msg in app.session.flashBag.get('success') %}
              <div class="alert alert-success alert-dismissable">
                <button type='button' class='close' data-dismiss='alert'>&times;</button>
                  {{ msg|raw }}
              </div>
            {% endfor %}

            {% for msg in app.session.flashBag.get('warning') %}
              <div class="alert alert-warning alert-dismissable">
                <button type='button' class='close' data-dismiss='alert'>&times;</button>
                 {{ msg|raw }}
              </div>
            {% endfor %}

            {% for msg in app.session.flashBag.get('error') %}
              <div class="alert alert-danger alert-dismissable">
                <button type='button' class='close' data-dismiss='alert'>&times;</button>
                {{ msg|raw }}
              </div>
            {% endfor %}


          {% endblock %}  

        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Stworzone i wspierane przez Web-Control ©</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Czy napewno chcesz się wylogować?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Wybierz "Wyloguj" poniżej aby zakończyć beirzącą sesję.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cofnij</button>
            <a class="btn btn-primary" href="login.html">Wyloguj</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

 <!-- Custom scripts for all pages-->
<script src="{{ asset('js/sb-admin.min.js') }}"></script>
{% endblock %}


